﻿@model EstacionamentoPSA.Ticket

@{
    ViewBag.Title = "Ticket gerado";
}

<h2>Ticket</h2>

<div>@Html.DisplayFor(model => model.id)</div>

<div>@Html.DisplayFor(model => model.data)</div>

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
