﻿@model EstacionamentoPSA.Ticket

@{
    ViewBag.Title = "Ticket";
}
<script src="@Url.Content("~/Scripts/ticket.js")" type="text/javascript"></script>

<div>
    <h4>Ticket numero: @Html.DisplayFor(model => model.id) </ h4 >
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data entrada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            Estatus do ticket
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            Total a pagar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            Motivo da liberação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo_liberacao)
        </dd>

        <dt>
            Id da cancela
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cancela_id)
        </dd>

    </dl>
    <button type="button" class="btn btn-default" onclick="payTicket(@Html.DisplayFor(model => model.id))">Pagar</button>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
