﻿@model IEnumerable<EstacionamentoPSA.Ticket>

@{
    ViewBag.Title = "Tickets";
}
<script src="@Url.Content("~/Scripts/ticket.js")" type="text/javascript"></script>
<h2>Tickets</h2>

<p>
    @Html.ActionLink("Gerar ticket", "Create")
</p>

<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputEmail2">Id do ticket</label>
            <input type="number" class="form-control" id="ticketId">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" onclick="findTicket()">Buscar</button>
            </div>
       </div>
    </form>
</div>

<p>
    <h3 id="message">@ViewBag.Message</h3>
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo_liberacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cancela_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo_liberacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cancela_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
