﻿@model EstacionamentoPSA.Cancela

@{
    ViewBag.Title = "Details";
}

<script src="@Url.Content("~/Scripts/cancela.js")" type="text/javascript"></script>
<h2>Cancela</h2>

<div>
    <h4>Valida Ticket</h4>
    <input id="ticketId" type="number" value="0" />
    <br />
    <input type="button" onclick="GetMessage()" value="Valida Ticket" />
    <label id="resultado"></label>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
