﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    @*@Html.ActionLink("Lista de Estacionamentos", "Index", "Estacionamentos")<br />
    @Html.ActionLink("Lista de Cancelas", "Index", "Cancelas")<br />
    @Html.ActionLink("Lista de Tickets", "Index", "Tickets")<br />*@
</div>

<div class="row">
    <p>O sistema deve possuir também um módulo gerencial que permita obter as seguintes informações relativas ao uso do estacionamento:</p>
    <ul>
        <li>Valor total recebido de pagamentos de estadia no estacionamento. Filtros de busca: por dia e por mês.</li>
        <li>Número de tickets pagos (todos os casos). Filtros de busca: por dia e por mês.</li>
        <li>Número de tickets liberados sem pagamento (todos os casos). Filtros de busca: por dia e por mês.</li>
    </ul>

    <!--<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>